extends layout

block content
  .container
        h2 Comments #[a.btn.btn-primary(href="/comments/listcomment") Add]
        table.table.table-striped.table-hover
         tr
          th.
            Username
          th.
            Content
          th.
            Action
          for comment in comments
           tr
            td #{comment.username}
            td #{comment.content}			
            td #[a.btn-xs.btn-primary(href="/comments/editcomment/#{comment._id}") Edit] #[a.btn-xs.btn-danger(href="/comments/delcomment/#{comment._id}") Delete]
        if message.length > 0
         .alert.alert-info #{message}
        if comment.username==''
          h4 Add Comment
          form(name="addcomment",method="post",action="/comments/addcomment")
           input(name="_id", type="hidden", value="#{comment._id}")		  
           .form-group
           label Username: 
           input.form-control(type="text", placeholder="username", name="username")
           .form-group
           label Content: 
           input.form-control(type="text", placeholder="content", name="content")
           .form-group
           button.btn.btn-primary(type="submit") Save
        else
          h4 Edit Comment
          form(name="addcomment",method="post",action="/comments/updatecomment")
           input(name="_id", type="hidden", value="#{comment._id}")
           .form-group
           label Username: 
           input.form-control(type="text", placeholder="username", name="username", value="#{comment.username}")
           .form-group
           label Content: 
           input.form-control(type="text", placeholder="content", name="content", value="#{comment.content}")
           .form-group
           button.btn.btn-primary(type="submit") Update