extends layout

block content
  .container
        h2 Comments
        table.table
         tr
          th.
            Username
          th.
            Content
          th.
            Action
          for comment in comments
           tr
            td #{comment.username}
            td #{comment.content}			
            td #[a.btn.btn-primary(href="/comments/editcomment/#{comment._id}") Edit] #[a.btn.btn-danger(href="/comments/delcomment/#{comment._id}") Delete]
        h4 Add Comment #{comment}
        if typeof(comment.username)==''
          form(name="addcomment",method="post",action="/comments/addcomment")
        else
          form(name="addcomment",method="post",action="/comments/updatecomment/#{comment._id}")
           .form-group
           label Username: 
           input.form-control(type="text", placeholder="username", name="username", value="#{comment.username}")
           .form-group
           label Content: 
           input.form-control(type="text", placeholder="content", name="content", value="#{comment.content}")
           .form-group
           if typeof(comment.username)=='' 
               button.btn.btn-primary(type="submit") Save
           else
               button.btn.btn-primary(type="submit") Update