extends layout

block content
  .container
    h2 Doctor 
      a(href="#" data-toggle="modal" data-target="#addModal")
        span.glyphicon.glyphicon-plus
    if message.length > 0
     .alert.alert-info #{message}
    table.table.table-striped.table-bordered(id="mainTable")
      thead
       tr
        th.
          ID
        th.
          Name
        th.
          Surname
        th.
          Gender
        th.
          Ext. Phone
        th.
          Action
      tbody
        for doctor in doctors
         tr
          td #{doctor.doctorId}
          td #{doctor.name}		
          td #{doctor.surName}   
          td #{doctor.gender} 
          td #{doctor.extPhone}   	
          td(align="center")
            h5
              a(href="#" data-href='/doctors/editdoctor/#{doctor._id}' data-toggle="modal" data-target="#editModal#{doctor._id}")
                span.glyphicon.glyphicon-pencil
              | 
              a(href="#" data-href="/doctors/deldoctor/#{doctor._id}" data-toggle="modal" data-target="#delModal")
                span.glyphicon.glyphicon-trash
          .modal.fade(id="editModal#{doctor._id}" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true")
              .modal-dialog.wide-modal
                .modal-content
                  .modal-header
                    button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                    h4.addModalLabel.modal-title Edit Doctor
                  .modal-body
                    h4 Edit doctor
                    form(name="adddoctor",method="post",action="/doctors/updatedoctor")
                     input(name="_id", type="hidden", value="#{doctor._id}")
                     .form-group
                     label ID: 
                     input.form-control(type="text", placeholder="Id", name="doctorId", value="#{doctor.doctorId}")
                     .form-group
                     label Name: 
                     input.form-control(type="text", placeholder="Name", name="name", value="#{doctor.name}")
                     .form-group
                     label Surname: 
                     input.form-control(type="text", placeholder="Surname", name="surName", value="#{doctor.surName}")
                     .form-group
                     label Gender: 
                     label.radio.inline
                     input(type="radio", name="gender", value="Male", checked=doctor.gender=='Male') 
                     |  Male 
                     input(type="radio", name="gender", value="Female", checked=doctor.gender=='Female')
                     |  Female 
                     .form-group
                     label Ext. Phone: 
                     input.form-control(type="text", placeholder="Ext. Phone", name="extPhone", value="#{doctor.extPhone}")
                     .form-group
                     button.btn.btn-primary(type="submit") Update
  .modal.fade(id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true")
    .modal-dialog.wide-modal
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
          h4.addModalLabel.modal-title Add Doctor
        .modal-body
            h4 Add doctor
            form(name="adddoctor",method="post",action="/doctors/adddoctor")
             input(name="_id", type="hidden", value="#{doctor._id}")      
             .form-group
             label ID: 
             input.form-control(type="text", placeholder="Id", name="doctorId")
             .form-group
             label Name: 
             input.form-control(type="text", placeholder="Name", name="name")
             .form-group
             label Surname: 
             input.form-control(type="text", placeholder="Surname", name="surName")
             .form-group
             label Gender: 
             label.radio.inline
             input(type="radio", name="gender", value="Male", checked) 
             |  Male 
             input(type="radio", name="gender", value="Female")
             |  Female 
             .form-group
             label Ext. Phone: 
             input.form-control(type="text", placeholder="Ext. Phone", name="extPhone")
             .form-group
             button.btn.btn-primary(type="submit") Save