extends layout

block content
  script(type="text/javascript").
    $(function () { 
      $('#mainTable').dataTable();
    }); 
  .container
    h2 Doctor 
      a(href="#" data-toggle="modal" data-target="#addModal")
        span.glyphicon.glyphicon-plus
    if message.length > 0
     .alert.alert-info(id="alertMessage") #{message}
    table.table.table-striped.table-bordered(id="mainTable")
      thead
       tr
        th.
          ID
        th.
          Name
        th.
          Surname
        th.
          Gender
        th.
          Ext. Phone
        th.
          Modified Date
        th.
          Action
      tbody
        script(type="text/javascript").
          function viewData(obj) {
            $.get( obj.getAttribute("data-href"), function(data) {
              $('#view_id').val(data.doctorId);
              $('#view_name').val(data.name);
              $('#view_surname').val(data.surName);
              $('#view_gender').val(data.gender);
              $('#view_extPhone').val(data.extPhone);
            });
          }

          function editData(obj) {
            $.get( obj.getAttribute("data-href"), function(data) {
              $('#edit_id').val(data._id);
              $('#edit_doctorId').val(data.doctorId);
              $('#edit_name').val(data.name);
              $('#edit_surname').val(data.surName);
              $('input:radio[name="gender"][value="'+data.gender+'"]').prop('checked', true);
              $('#edit_extPhone').val(data.extPhone);
            });
          }

        for doctor in doctors
         tr
          td #{doctor.doctorId}
          td #{doctor.name}		
          td #{doctor.surName}   
          td #{doctor.gender} 
          td #{doctor.extPhone} 
          td #{doctor.modifiedDT.toDateString()}   	
          td(align="center")
            h5
              a(href="#" data-href='/doctors/viewdoctor/#{doctor._id}' data-toggle="modal" data-target="#editModal" onclick="editData(this)")
                span.glyphicon.glyphicon-pencil
              | 
              a(href="#" data-href="/doctors/deldoctor/#{doctor._id}" data-toggle="modal" data-target="#delModal")
                span.glyphicon.glyphicon-trash
              | 
              a(href="#" data-href="/doctors/viewdoctor/#{doctor._id}" data-toggle="modal" data-target="#viewModal" onclick="viewData(this)")
                span.glyphicon.glyphicon-search
  script(type="text/javascript").
      $('#mainTable').dataTable( {
        "order": [[ 5, "desc" ]]
      });
  .modal.fade(id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true")
    .modal-dialog.wide-modal
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
          h4.addModalLabel.modal-title Add Doctor
        .modal-body
          form(name="adddoctor",method="post",action="/doctors/adddoctor")
           input(name="_id", type="hidden", value="#{doctor._id}")      
           .form-group
           label * ID: 
           input.form-control(type="text", placeholder="ID", name="doctorId", required)
           .form-group
           label * Name: 
           input.form-control(type="text", placeholder="Name", name="name", required)
           .form-group
           label Surname: 
           input.form-control(type="text", placeholder="Surname", name="surName")
           .form-group
           label Gender: 
           label.radio.inline
           input(type="radio", name="gender", value="Male", checked) 
           |  Male 
           input(type="radio", name="gender", value="Female")
           |  Female 
           .form-group
           label Ext. Phone: 
           input.form-control(type="text", placeholder="Ext. Phone", name="extPhone")
           .form-group
           button.btn.btn-default(data-dismiss='modal') Cancel 
           | 
           button.btn.btn-primary(type="submit") Save
  .modal.fade(id="viewModal" tabindex="-1" role="dialog" aria-labelledby="viewModalLabel" aria-hidden="true")
    .modal-dialog.wide-modal
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
          h4.addModalLabel.modal-title View Doctor
        .modal-body
          form(name="adddoctor",method="post",action="/doctors/updatedoctor")
           input(name="_id", type="hidden", value="#{doctor._id}")
           .form-group
           label * ID: 
           output(id="view_id")
           .form-group
           label * Name: 
           output(id="view_name")
           .form-group
           label Surname: 
           output(id="view_surname")
           .form-group
           label Gender: 
           output(id="view_gender")
           .form-group
           label Ext. Phone: 
           output(id="view_extPhone")
  .modal.fade(id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true")
    .modal-dialog.wide-modal
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
          h4.addModalLabel.modal-title Edit Doctor
        .modal-body
          form(name="editdoctor",method="post",action="/doctors/updatedoctor")
           input(id="edit_id", type="hidden", name="_id")
           .form-group
           label * ID: 
           input.form-control(id="edit_doctorId", type="text", placeholder="ID", name="doctorId", required)
           .form-group
           label * Name: 
           input.form-control(id="edit_name", type="text", placeholder="Name", name="name", required)
           .form-group
           label Surname: 
           input.form-control(id="edit_surname", type="text", placeholder="Surname", name="surName")
           .form-group
           label Gender: 
           label.radio.inline
           input(type="radio", name="gender", value="Male") 
           |  Male 
           input(type="radio", name="gender", value="Female")
           |  Female 
           .form-group
           label Ext. Phone: 
           input.form-control(id="edit_extPhone", type="text", placeholder="Ext. Phone", name="extPhone")
           .form-group
           button.btn.btn-default(data-dismiss='modal') Cancel 
           | 
           button.btn.btn-primary(type="submit") Update                          