extends layout

block content
  .container
        h2 Your Event #[a.btn.btn-primary(href="/events/listevent") Create Event]
        table.table.table-striped.table-hover
         tr
          th.
            Title
          th.
            Start Date
          th.
            End Date
          th.
            Oganization
          th.
            Doctor
          th.
            Action
          for event in events
           tr
            td #{event.title}
            td #{event.startDate}
            td #{event.endDate}
            td #{event.oganization}			
            td #{event.doctor}      
            td #[a.btn-xs.btn-primary(href="/events/editevent/#{event._id}") Edit] #[a.btn-xs.btn-danger(href="/events/delevent/#{event._id}") Delete]
        if message.length > 0
         .alert.alert-info #{message}
        if event.userId==''
          h4 Add Event
          form(name="addevent",method="post",action="/events/addevent")
           input(name="_id", type="hidden", value="#{event._id}")		  
           .form-group
           label Title: 
           input.form-control(type="text", placeholder="title", name="title")
           .form-group
           label Start Date: 
           .input-group.date(id="startDatePicker")
            input.form-control(type="text", placeholder="startDate", name="startDate")
            span.input-group-addon
             span.glyphicon.glyphicon-calendar
           .form-group
           label End Date: 
           .input-group.date(id="endDatePicker")
            input.form-control(type="text", placeholder="endDate", name="endDate")
            span.input-group-addon
             span.glyphicon.glyphicon-calendar
           .form-group
           label Location: 
           input.form-control(type="text", placeholder="location", name="location")
           .form-group
           label Description: 
           input.form-control(type="text", placeholder="description", name="description")
           .form-group
           label Oganization: 
           select.form-control(name='oganization')
             option(value='')
              each organization in organizations
               option(value=organization.orgName, selected=select)= organization.orgName
           .form-group
           label Doctor: 
           select.form-control(name='doctor')
             option(value='')
              each doctor in doctors
               option(value=doctor.name, selected=select)= doctor.name
           .form-group
           button.btn.btn-primary(type="submit") Save
           script
            | $(function () {
            |  $('#startDatePicker').datetimepicker();
            | });

            | $(function () {
            |  $('#endDatePicker').datetimepicker();
            | });
        else
          h4 Edit Event
          form(name="addevent",method="post",action="/events/updateevent")
           input(name="_id", type="hidden", value="#{event._id}")
           .form-group
           label Title: 
           input.form-control(type="text", placeholder="title", name="title", value="#{event.title}")
           .form-group
           label Start Date: 
           .input-group.date(id="updateStartDatePicker")
            input.form-control(type="text", placeholder="startDate", name="startDate", value="#{event.startDate}")
            span.input-group-addon
             span.glyphicon.glyphicon-calendar
           .form-group
           label End Date: 
           .input-group.date(id="updateEndDatePicker")
            input.form-control(type="text", placeholder="endDate", name="endDate", value="#{event.endDate}")
            span.input-group-addon
             span.glyphicon.glyphicon-calendar
           .form-group
           label Location: 
           input.form-control(type="text", placeholder="location", name="location", value="#{event.location}")
           .form-group
           label Description: 
           input.form-control(type="text", placeholder="description", name="description", value="#{event.description}")
           .form-group
           label Oganization: 
           select.form-control(name='oganization')
             option(value='')
              each organization in organizations
               option(value=organization.orgName, selected=event.oganization==organization.orgName)= organization.orgName
           .form-group
           label Doctor: 
           select.form-control(name='doctor')
             option(value='')
              each doctor in doctors
               option(value=doctor.name, selected=event.doctor==doctor.name)= doctor.name
           .form-group
           .form-group
           button.btn.btn-primary(type="submit") Update
           script
            | $(function () {
            |  $('#updateStartDatePicker').datetimepicker();
            | });

            | $(function () {
            |  $('#updateEndDatePicker').datetimepicker();
            | });
        .modal.fade(id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
          .modal-dialog.wide-modal
            .modal-content
              .modal-header
                button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                h4.myModalLabel.modal-title Organization
              .modal-body
                table.table.table-striped.table-hover
                 tr
                  th.
                     Name
                  th.
                    Type
                  th.
                    Action
              .modal-footer
                button.btn.btn-primary(type='button', data-dismiss='modal') Close