extends layout

block content
  script(type="text/javascript").
    $(function () { 
      $('#mainTable').dataTable();
    }); 
  .container
    .row(class="col-md-12")
      h2 Event 
        a(href="#" data-toggle="modal" data-target="#addModal")
          span.glyphicon.glyphicon-plus
      if message.length > 0
       .alert.alert-info(id="alertMessage") #{message}
    .row(class="col-md-12")
      table.table.table-striped.table-bordered(id="mainTable")
        thead
         tr
          th.
            Title 
          th.
            Doctor
          th.
            Action
        tbody
          script(type="text/javascript").
            function viewData(obj) {
              $.get( obj.getAttribute("data-href"), function(data) {
                $('#view_title').val(data.title);
                $('#view_doctor').val(data.doctor);
              });
            }

            function editData(obj) {
              $.get( obj.getAttribute("data-href"), function(data) {
                $('#edit_id').val(data._id);
                $('#edit_title').val(data.title);
                $('#edit_doctor').val(data.doctor);
              });
            }

          for event in events
           tr
            td #{event.title}
            td #{event.doctor}
            td(align="center")
              h5
                a(href="#" data-href='/events/viewevent/#{event._id}' data-toggle="modal" data-target="#editModal" onclick="editData(this)")
                  span.glyphicon.glyphicon-pencil
                | 
                a(href="#" data-href="/events/delevent/#{event._id}" data-toggle="modal" data-target="#delModal")
                  span.glyphicon.glyphicon-trash
                | 
                a(href="#" data-href="/events/viewevent/#{event._id}" data-toggle="modal" data-target="#viewModal" onclick="viewData(this)")
                  span.glyphicon.glyphicon-search
  script(type="text/javascript").
      $('#mainTable').dataTable( {
        "order": [[ 1, "desc" ]]
      });
  .modal.fade(id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true")
    .modal-dialog.wide-modal
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
          h4.addModalLabel.modal-title Add event
        .modal-body
          form(name="addevent",method="post",action="/events/addevent")
           input(name="_id", type="hidden", value="#{event._id}")      
           .form-group
           label * Title: 
           input.form-control(type="text", placeholder="TITLE", name="title", required)
           .form-group
           label * Doctor: 
           select.form-control(name='doctor')
             option(value='')
              each doctor in doctors
               option(value=doctor.name, selected=select)= doctor.name
           .form-group
           button.btn.btn-default(data-dismiss='modal') Cancel 
           | 
           button.btn.btn-primary(type="submit") Save
  .modal.fade(id="viewModal" tabindex="-1" role="dialog" aria-labelledby="viewModalLabel" aria-hidden="true")
    .modal-dialog.wide-modal
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
          h4.addModalLabel.modal-title View event
        .modal-body
          form(name="addevent",method="post",action="/events/updateevent")
           input(name="_id", type="hidden", value="#{event._id}")
           .form-group
           label * Title: 
           output(id="view_title")
           .form-group
           label * Doctor: 
           output(id="view_doctor")
           .form-group
           button.btn.btn-primary(data-dismiss='modal') Close 
  .modal.fade(id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true")
    .modal-dialog.wide-modal
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
          h4.addModalLabel.modal-title Edit event
        .modal-body
          form(name="editevent",method="post",action="/events/updateevent")
           input(id="edit_id", type="hidden", name="_id")
           .form-group
           label * Title: 
           input.form-control(id="edit_title", type="text", placeholder="TITLE", name="title", required)
           .form-group
           label * Doctor: 
           select.form-control(id="edit_doctor", name='doctor')
             option(value='')
              each doctor in doctors
               option(value=doctor.name, selected=doctor.name)= doctor.name
           .form-group
           button.btn.btn-default(data-dismiss='modal') Cancel 
           | 
           button.btn.btn-primary(type="submit") Update                          